@use '../../../styles/variables' as *;
@use '../../../styles/partials/mixins' as *;

.video-wrapper {
    display: flex;
    position: relative;
    padding-top: 1rem;
}

.video-player {
    width: 100%;
    height: 13.5rem;
    object-fit: cover;

    @include tablet {
        height: 27rem;
        object-fit: cover;
        padding: 0 2.5rem 0 2.5rem;
        background-color: black;
    }
}


