@use '../../../styles/variables' as *;
@use '../../../styles/partials/mixins' as *;

.player-video {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Avenir', sans-serif;

    @include tablet {
        padding: 1rem 2rem 1rem 2rem;

    }

    &__title{
        font-size: 1.625rem;
        color: $brainflix-black-text;
        line-height: 1.4em;
        font-weight: 600;
        letter-spacing: 0.02em;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__divider {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0.0625rem solid $divider-color;

        &--top {
            display: flex;

            @include tablet {
                display: none;
            }
        }

        &--bottom {
            display: flex;

            @include tablet {
               margin-top: 0.5rem;
               margin-bottom: 1.5rem;
            }
        }
    }

    &__subheader{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        align-items: center;

        @include tablet {
            padding-top: 1rem;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__channel-info{
        width: 50%;
        height: 100%;
        font-size: 0.8125rem;
        color: $brainflix-black-text;

        
        @include tablet {
            display: flex;
            font-size: 0.75rem;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            width: 70%;
        }
    }

    &__date{
        color: #AFAFAF;
        font-size: 0.9375rem;

        @include tablet {
            padding-left: 1.5rem;
            font-size: 0.875rem;
        }
    }


    &__stats{
        width: 50%;

        @include tablet {
            display: flex;
            flex-direction: row;
            width: 40%;
        }
    }

    &__views{
        @extend .player-video__subheader;
        padding-bottom: 1rem;
        align-items: center;

        @include tablet {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    &__likes{
        @extend .player-video__subheader;

        @include tablet {
            padding-bottom: 0;
            padding-top: 0
        }
    }

    &__channel{
        padding-bottom: 1rem;

        @include tablet {
            padding-bottom: 0;
        }
    }


    &__view-icon{
        padding-right: 1rem;
        width: 2.75rem;

        @include tablet {
            width: 2.5rem;
        }
    }

    
    &__like-icon{
        padding-right: 1rem;
        width: 2.375rem;

        @include tablet {
            width: 2.25rem;
        }
    }

    &__count{
        color: #AFAFAF;
        font-size: 0.9375rem;

        @include tablet {
            font-size: 0.875rem;
        }
    }

    &__description{
        font-size: 0.875rem;
        color: $brainflix-black-text;
        line-height: 1.4em;
        letter-spacing: 0.05em;

        @include tablet {
            font-size: 0.9375rem;
            letter-spacing: 0;
        }
    }


}