//base button variables
$base-button-background-color: #0095FF;
$base-button-text-color: #FFFFFF;

//search bar variables
$search-bar-background-color: #FAFAFA;
$search-bar-border-color: #AFAFAF;
$label-text-color: #AFAFAF;


//Responsive design variables
$tablet-width: 768px;
$desktop-width: 1280px;

//video controller variables
$video-controller-background: rgba(10, 10, 10, 0.60);

//divider variables
$divider-color: #E1E1E1;
$border-color: #AFAFAF;

//black text
$brainflix-black-text: #323232;

//font family
$font-family-avenir: 'Avenir', sans-serif;