//colors for button
$Base-Button-Background: #0095FF;
$Button-Text-Color: #FFFFFF;


//search bar background
$search-bar-background-color: #FAFAFA;
$search-bar-border-color: #AFAFAF;
$placeholder-text-color: #000000;


//Responsive design variables
$tablet-width: 768px;
$desktop-width: 1280px;



