$base-button-background-color: #0095FF;
$base-button-text-color: #FFFFFF;
$subheader-text-color: #323232;
$header-text-color: #000000;

//search bar variables
$background-color: #FAFAFA;
$border-color: #AFAFAF;


//Responsive design variables
$tablet-width: 768px;
$desktop-width: 1280px;

$video-controller-background: rgba(10, 10, 10, 0.60);
$divider-color: #E1E1E1;