@use '../../../styles/_variables.scss' as *;

.base-button {
   display: flex;
   justify-content: center;
   border-radius: 0.25rem;
   text-align: center;
   border-style: none;
   align-items: center;


   &__button {
      background-color: transparent;
      border: none;
      color: inherit;
      font-weight: bold;
      flex-grow: 1;
      padding-right: 0.5rem;
   }

   &__icon {
      height: 1.5rem;
      width: 1.5rem;
      padding-left: 0.5rem;
   }
}