@use '../../styles/variables' as *;

.search {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    
    &__icon {
        position: absolute;
        left: 1rem;
    }

    &__input {
        height: inherit;
        border-radius: 0.25rem;
        padding-left: 2.5rem;
        border: 0.0625rem solid $search-bar-border-color;
        background-color: $search-bar-background-color;
        width: 100%;
       
        &::placeholder {
            color: black;
        }
    }
}