@use '../../../styles/variables' as *;

.player-video {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Avenir', sans-serif;

    &__title{
        font-size: 1.625rem;
        color: $brainflix-black-text;
        line-height: 1.4em;
        font-weight: 600;
        letter-spacing: 0.02em;
    }

    &__divider {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0.0625rem solid $divider-color;
    }

    &__subheader{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }

    &__channel-info{
        width: 50%;
        font-size: 0.8125rem;
        color: $brainflix-black-text;
    }

    &__date{
        color: #AFAFAF;
        font-size: 0.9375rem;
    }


    &__stats{
        width: 50%;
    }

    &__views{
        @extend .player-video__subheader;
        padding-bottom: 1rem;
        align-items: center;
    }

    &__likes{
        @extend .player-video__subheader;
    }

    &__channel{
        padding-bottom: 1rem;
    }


    &__view-icon{
        padding-right: 1rem;
        width: 2.75rem;
    }

    
    &__like-icon{
        padding-right: 1rem;
        width: 2.375rem;
    }

    &__count{
        color: #AFAFAF;
        font-size: 0.9375rem;
    }

    &__description{
        font-size: 14px;
        color: $brainflix-black-text;
        line-height: 1.4em;
        letter-spacing: 0.05em;
    }


}