@use '../../../styles/variables' as *;
@use '../../../styles/partials/mixins' as *;

.comment-list {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-family: 'Avenir', sans-serif;

    @include tablet {
        padding: 2rem 2.5rem 0 2.5rem;
    }

    @include desktop {
        padding: 2rem 0rem 0 9rem;
    }

    &__title {
        font-size: 1rem;
    }

    &__divider {
        margin-top: 1rem;
        border: 0.0625rem solid #E1E1E1;


        @include desktop {
            &:last-child{
                display: none;
            }
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop {
            padding-right: 2rem;
        }


        &-title{
            padding-top: 1.5rem;
            padding-bottom: 0.5rem;
            padding-left: 3.5rem;
            color: #AFAFAF;
            font-size: 0.875rem;
            letter-spacing: 0.005em;
            font-weight: 600;
        }
    }

    &__add-comment {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    &__input-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;

        @include tablet {
            flex-direction: row;
        }
    }

    &__input{
        height: 7rem;
        margin-bottom: 1rem;
        border: 2px solid #E1E1E1;
        border-radius: 0.25rem;
        resize: none;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        background-color: #f8f8f8;
        font-family: 'Avenir', sans-serif;

        &::placeholder {
            color: black;
            font-size: 1rem;
            font-family: 'Avenir', sans-serif;
        }

        @include tablet {
            height: 3rem;
            width: 100%;
        }
    }

    &__image {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 10%;
    }


    &__button {
        background-color: $base-button-background-color;
        color: $base-button-text-color;
        height: 3rem;
        width:100%;
        display: flex;
        align-items: center;
        border-radius: 0.25rem;
        align-items: center;
        text-align: center;

        @include tablet {
            margin-left: 2rem;
            width: 40%;
        }
    }
}


