.comment-list {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    font-family: 'Avenir', sans-serif;

    &__divider {
        margin-top: 1rem;
        border: 0.0625rem solid #E1E1E1;
    }

    &__form{
        display: flex;
        flex-direction: column;
        width: 100%;

        &-title{
            padding-top: 2rem;
            padding-bottom: 0.75rem;
            padding-left: 4rem;
            color: #AFAFAF;
            font-size: 0.875rem;
            letter-spacing: 0.005em;
            font-weight: 600;
        }
    }

    &__add-comment {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__input-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;
    }

    &__input{
        height: 7rem;
        margin-bottom: 1rem;
        border: 2px solid #E1E1E1;
        border-radius: 0.25rem;
        resize: none;
        padding-left: 0.75rem;
        padding-top: 0.75rem;
        background-color: #f8f8f8;
        font-family: 'Avenir', sans-serif;

        &::placeholder {
            color: black;
            font-size: 1rem;
        }
    }

    &__image {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: 10%;
    }
}


