@use '../../../styles/variables' as *;
@use '../../../styles/partials/mixins' as *;

.video-controller {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 1rem;
    left:0;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include desktop {
        padding: 0 16.5rem 0 16.5rem;
    }


    &__play-icon {
        height: 0.75rem;
        width: 1rem;
    }

    &__volume-icon {
        height: 1rem;
        width: 1rem;

        @include tablet {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &__zoom-icon {
        height: 1rem;
        width: 1rem;

        @include tablet {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    &__play {
        display: flex;
        border-radius: 0.5rem;
        height: 1.5rem;
        width: 2rem;
        background-color: $video-controller-background;
        align-items: center;
        justify-content: center;  

        @include tablet {
            height: 2.5rem;
            width: 3rem;
        }
    }


    &__seek {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0.5rem 0 0.5rem;
        border-radius: 6px;
        flex-grow: 1;
        height: 1.5rem;
        background-color: $video-controller-background;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        @include tablet {
            height: 2.5rem;
        }

        &-bar {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            border: 0.125rem solid black;
        }

        &-time {
            padding-left: 0.5rem;
        }
    }

    &__text {
        margin: 0;
        color: rgb(182, 191, 196);
        font-weight: bold;
        font-size: 10px;
        font-family: 'Avenir', sans-serif;
    }

    &__other-controls {
        display: flex;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-radius: 0.375rem;
        align-items: center;
        justify-content: space-between;  
        height: 1.5rem;
        width: 4rem;
        flex-direction: row;
        background-color: $video-controller-background;

        @include tablet {
            height: 2.5rem;
            width: 6rem;
            padding-left: 1rem;
            padding-right: 1rem;
          
        }
    }

}
